
.App{
  padding-top: 1rem;
}

:root{

  --blue-hover: rgb(38, 193, 231);

  --progress-circle-color: var(--green-starting);
  --progress-circle-height: 50px;
  --progress-circle-width: 50px;
  --yellow: rgb(252, 215, 10);
  --purple: rgb(192, 54, 247);
  --green-good: #5FB662;
  --black: #444649;
  --black-footer: #444555;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}


.pseudoLink{
  color: rgb(102, 102, 207);
}

.pseudoLink:hover{
  color: rgb(61, 61, 240);
}


.profile-image {
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(194, 68, 219); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(214, 74, 207); 
}

body {
  padding-bottom: 50px;
  height: 100%;
  background-color: var(--black) !important;
}

.whole-height{
  height: 100%;
}

.footer-page {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 9;
  width: 100%;
  background-color: var(--black-footer);
  color: white;
  text-align: center;
}

.center {
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.informationBox{
  background-color: white;
  padding: 1rem;
}

.App-link {
  color: #61dafb;
}

.bottom-right{
  text-align: right;
  margin: 0.4rem;
}

.alert {
  text-align: center;
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.cursive{
  font-size: 1.8rem;
  text-align: center;
  font-family: 'Brush Script MT', cursive;
}

.font-title{
  font-family: 'Garamond', serif;
}

.yellow-bg{
  fill: var(--yellow);
}

.purple-bg{
  fill: var(--purple);
}

.container {
  margin-top: 0.4rem;
  justify-content: center;
  align-items: center;
  display: flex;
  word-break: break-word;
}

.gap2{
  align-items: flex-start;
  gap: 3rem;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.circular{
  height: var(--progress-circle-height);
  min-width: var(--progress-circle-width);
  position: relative;
  margin-right: 10px;

}

.circular:hover{
  transform:scale(1.4);
}

.circular .inner{
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: calc(var(--progress-circle-height)*0.8);
  width: calc(var(--progress-circle-width)*0.8);
  margin: calc(var(--progress-circle-height)*0.8*(-0.5)) 0 0 calc(var(--progress-circle-width)*0.8*(-0.5));
  background: black;
  border-radius: 100%;
}

.circular .number{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  color: white
}

.circular .bar{
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(158, 153, 153);
  border-radius: 100%;
  clip: rect(0px, var(--progress-circle-width), var(--progress-circle-height), calc(var(--progress-circle-width)*0.5));
}

.circle .bar .progress{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  clip: rect(0px, calc(var(--progress-circle-width)/2), calc(var(--progress-circle-height)), 0px);

}

.circle .left .progress{
  z-index:1;
  animation: left 4s linear both;
}

.circle .right {
  transform: rotate(180deg);
  z-index:3; 
}

.circle .right .progress{
  animation: right 4s linear both;
  animation-delay:4s;
}

.align-right{
  text-align: right;
}

.align-right-content{
  width: 100%;
  display: flex;

  justify-content: right;

}

.flex-center{
  display: flex;
  justify-content: center;
}

.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;


  color: white;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 7;
}

.margin-btm-3{
  margin-bottom: 3rem;
}

.center-text{
  text-align: center;
  padding: 10px 0;
}

.secondary-info{
  font-size: 0.8rem;
}

.container-with-scroll2{
  flex: 1;
  display: flex;
  overflow-x: auto;
  width: 50%;
  padding-bottom: 0.5rem;
  scroll-behavior: smooth;
  will-change: transform;
}

.container-with-scroll{
  flex: 1;
  display: flex;
  overflow-x: auto;
  width: 80%;
  margin: auto;
  padding-bottom: 0.5rem;
  scroll-behavior: smooth;
  will-change: transform;
}

.whole-width{
  width: 100%;
}

.span-error{
  display: flex;
  width: 100%;
  justify-content: center;
}

.error-message{
  margin-top: 0.5rem;

  padding: 1em;
  background-color: red;
}

.box {
  display: flex;
  min-height: min-content; /* needs vendor prefixes */
  
}

.box > * {
  margin-top: 2rem;
  min-width: 250px;
  max-width: 400px;
  width: 18%;
  flex-basis: 20%;
  flex-grow : 1;
}

.movie-preview-container{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  gap: 4rem;
}

.movie-preview-container > * {
  margin-top: 2rem;
  min-width: 250px;
  max-width: 400px;
  width: 18%;
  flex-basis: 20%;
  flex-grow : 1;
}


.hero{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 30rem;
  background-repeat:no-repeat;
  background-size: 100% auto;
  background-position:centers;
  z-index: 1;
  color: white;
}

.hero-intro{
  width: 40%;
  min-width: 400px;
  padding: 2em;
  padding-top: min(5vh, 4rem);
  position: relative;
  
}

.hero-intro > h1{
  text-align: center;
}

.hero-intro::after{
  content: '';
  inset: 0;
  position: absolute;
  z-index: -1;
  background: gray;
  mix-blend-mode: multiply;
}

/* selector*/

.black{
  background-color: var(--black);
  padding-top: 0!important;
  width: 100%;
  gap: 0.4rem;
}

.black > .selector > div > h3 {
  padding: 4px 5px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color:white;
  padding-top: 1rem;
  gap: 1rem;
}

.header > span{
  font-size: 1.5rem;
}

.selector{
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  border: 1px solid rgba(11, 1, 22);
  border-radius: 30px;
  
}

.selector > div {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.selector > div > h3 {
  display: inline-flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  padding: 4px 20px;
  margin-bottom: 0;
  white-space: nowrap;
}

.selector > div > h3 > a {
  transition: -webkit-text-fill-color 0.5s;
  color: white;
}
.selector > div > h3 > a  {
  font-weight: 600;
  text-decoration: none;
}

.no_click{
  pointer-events: none;
}

.background {
  z-index: -1;
  background: rgb(245, 138, 156);
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: left 0.25s;
}

a{
  color: #000;
  text-decoration: none;
  font-weight: normal;
}

.rescaled-image{
  image-rendering: auto;
  image-rendering: crisp-edges;
  word-break: break-all;
}

/* selector*/



.person-image-full{
  height: 25rem;
  width: 100%;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}



.movie-image{
  height: 20rem;
  justify-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
}

.imageContainer{
  height: 20rem;
  width: 100%;
  display: "flex"; 
  justify-content: "center";
}



.background-image-whole-page{
  height: 80vh;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
  width: 100%;
  max-width: 1000px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.icon{
  border-radius: 50%;
  height: 3.4rem;
  background-position: center 28%;
  width: 3rem;
  background-size: 3.4rem;
  display: inline-block;
}

.scrollable{
  max-height: 17.5rem;
  overflow: auto;
}

.big{
  max-height: 500px
}



.margin-right{
  margin-right: 0.4rem;
}

.content{
  background-color: white;
  padding: 0.4rem;
}


.right-corner{
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.below{
  position: absolute;
  top: 8.5rem;
  left: 20%;
  background-color: white;
}

.circle-list{
  margin-left: auto;
  border-radius: 50%;
  width: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  mix-blend-mode: multiply;
}

.dropdown-in-preview{
  background-color: white;
}

.circle-list:hover{
  background-color: var(--blue-hover);
}

.secondary-info{
  display: flex   ; 
justify-content: flex-start;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  flex-grow: 0;
  font-size: 0.85rem;
  flex-wrap: wrap;
  height: 100%;
} 

.no-flex{
  display: block!important;
}


.secondary-info > *:not(.header){
  flex-grow: 0;
  width: 100%;
  border-bottom: black solid;
}

.movie-description{
  padding: 0.4rem;
  overflow: auto;
  max-height: 20rem;
}

.square-rating-bar{
  width: 60px;
  height: 45px;
  float: right;
  margin: 5px 10px 20px;
  font-size: 32px;
  line-height: 45px;
  font-weight: 700;
  letter-spacing: -2px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
}

.inline-block{
  width: 100%;
}

.date{
  padding-left: 0.2rem;
  font-size: 0.8rem;
}

.hide{
  display: none;
}

.movie-description{
  max-width: 1000px;
  margin: auto;
}

.main-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}


.movie-references{grid-area: personPerformance}
.Info-panel { grid-area: secondaryDescription; }
.background-image{ grid-area: poster}
.actor-list{ grid-area: actorList}
.container {grid-area: titleArea}
.cursive {grid-area: taglineArea}
.movie-description{grid-area: movieDescription;}
.review-list{grid-area: review-list;}
.person-image-full{grid-area: poster}
.main-content{grid-area: main-content}

.full-movie, .person-info{
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  width: 80%;
  margin: auto;
  background-color: white;
}

.person-info{
  
  
  grid-auto-flow: row ;
}

.person-info{
  grid-template-areas:
  'poster  main-content main-content main-content' 
  'secondaryDescription personPerformance  personPerformance personPerformance';
}

.full-movie{
  grid-template-areas:
  'secondaryDescription  poster actorList'
  'titleArea  titleArea titleArea'
  'taglineArea  taglineArea taglineArea'
  'movieDescription  movieDescription movieDescription'
  'review-list review-list  review-list' ;
}

.avatar-circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  line-height: 20px;
  text-align: center;
  background: yellow;
  display: inline-block;
}

.profile-image {
  border-radius: 50%;
  border-color: yellow;
  clip-path: circle();
  height: 1.7rem
}

.dropdown-without-after{

  margin: 0
}

.dropdown-without-after > #collasible-nav-dropdown {
  padding-left: 0rem;
  padding-right: 0rem;
  margin: 0
}

.dropdown-without-after > *::after {

  display: none !important;
  background-color: pink;
}

.columns {
  display: flex;
}

.col {  
  display: flex;          /* new */
  flex-direction: column; /* new */
  margin-left: 20px;
}

.list {
  flex: 1;                /* new */
  padding: 24px;
  border: 1px solid blue;
}

ul {
  margin: 0;
}

/*
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
*/
@media screen and (max-width: 900px) {
  
  .full-movie{
    grid-template-areas:
    'poster'
    'titleArea '
    'taglineArea '
    'movieDescription'
    'secondaryDescription'
    'actorList'
    'review-list' ;
  }
  
  .person-info{
    grid-template-areas:
    'poster'
    'main-content'
    'secondaryDescription'
    'personPerformance';
  }

  .person-image-full{
    height: 25rem;
    width: 100%;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
  
  }
  
  .secondary-info{
    display: block;
  }
  
  .person-info{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

}

@media screen and (min-width: 900px) {
  .full-movie{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .person-info{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .bigger{
    width: 100%;
  }
}


@media screen and (min-width: 600px) {
 .search{
   width: 300px !important;
 }

  .show-on-small-screens{
    display: none;
  }

  .margin-top3{
    margin-top: 3rem;
  }
}  

@media screen and (max-width: 600px) {
  .profile{
    display: none !important;
  }

  .hero-intro{
    width: 100%;
    margin: 0;
    min-width: 0
  }

  .container-with-scroll{
    width: 100%;

  }

  .movie-preview-container{
    margin-left: 0rem;
  }

  .gap2{
    flex-wrap: wrap;
    flex-basis: 100%!important;
  }

  .movie-preview-container > *{
    padding: 0;
    margin: 5%;
    flex-basis: 100%;
  }
  
  .full-movie, .person-info{
    width: 98%;
    margin: auto;
  }

  .hide-on-small-screens{
    display: none;
  }

  

  

}


@media screen and (max-width: 350px) {
  .hide-on-very-small-screen{
    display: none;
  } 
}


.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.w{
  width: 1rem;
  height: 1rem;
}





  
